<footer class="footer">
    <nav class="nav">
        <a href="" class="logo">LOGO</a>
        <ul class="contacts">
            <li class="contacts-item">
                <a href="#" class="contacts-link">Address</a>
            </li>
            <li class="contacts-item">
                <a href="#" class="contacts-link">email</a>
            </li>
            <li class="contacts-item">
                <a href="#" class="contacts-link">telephone</a>
            </li>
        </ul>
    </nav>
</footer>