<section class="container">
    <h2 class="team">Team</h2>
    <ul class="team-list">
        <li class="team-item">
            <h3>Anastasia</h3>
            <p>team-lead</p>
        </li>
        <li class="team-item">
            <h3>Yelysaveta</h3>
            <p>team</p>
        </li>
        <li class="team-item">
            <h3>Andrew</h3>
            <p>team</p>
        </li>
        <li class="team-item">
            <h3>Viktor</h3>
            <p>team</p>
        </li>
        <li class="team-item">
            <h3>Dmitriy</h3>
            <p>team</p>
        </li>
        <li class="team-item">
            <h3>Boris</h3>
            <p>team</p>
        </li>
        <li class="team-item">
            <h3>Natali</h3>
            <p>team</p>
        </li>
        <li class="team-item">
            <h3>Yaroslav</h3>
            <p>Mentor</p> 
        </li>
    </ul>
</section>